.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: var(--shadow-sm);
  width: 100%;
  box-sizing: border-box; /* Para incluir padding en el ancho */
}

.header-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--white-color);
  text-decoration: none;
}

.logo-image {
  width: 40px; /* Ajusta el tamaño del logo */
  height: 40px; /* Ajusta el tamaño del logo */
  margin-right: var(--spacing-sm); /* Espacio entre el logo y el texto */
  vertical-align: middle; /* Alinea el logo verticalmente con el texto */
  border-radius: 60%; /* Hace que el logo sea circular */
}

.header-center {
  display: flex;
  gap: var(--spacing-sm);
}

.search-input {
  padding: var(--spacing-sm);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: var(--font-size-base);
  width: 300px;
}

.search-button {
  background-color: var(--secondary-color);
  color: var(--text-color); /* El texto del botón buscar es oscuro */
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #e0a800; /* Un amarillo más oscuro */
}

.header-right {
  display: flex;
  gap: var(--spacing-md);
}

.header-icon {
  color: var(--white-color);
  text-decoration: none;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.header-icon:hover {
  text-decoration: underline;
}
